@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

body {
  font-family: "Comic Sans MS", "Helvetica Neue", Arial;
  margin: 0;
}

h1,
h2,
p {
  text-align: center;
}

.GeneratedMarquee {
  font-size: 2em;
  line-height: 1.3em;
  color: white;
  background: linear-gradient(
    to right,
    #ef5350,
    #f48fb1,
    #7e57c2,
    #2196f3,
    #26c6da,
    #43a047,
    #eeff41,
    #f9a825,
    #ff5722
  );
  padding: 0.2em;
}

h1 {
  background: linear-gradient(
    to right,
    #ef5350,
    #f48fb1,
    #7e57c2,
    #2196f3,
    #26c6da,
    #43a047,
    #eeff41,
    #f9a825,
    #ff5722
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2 {
  margin-top: 5vh;
}

ul {
  margin: auto;
  text-align: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 50%;
}

.symptoms {
  width: 70%;
  margin: 0px auto;
}

.symptoms-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px auto;
  width: 100%;
}

.image-with-caption {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 150%;
}

.image-with-caption img {
  width: 100%;
}

.symptoms-content > img {
  width: 50%;
}

.slides {
  display: flex;
  justify-content: center;
}

.famousSlide {
  position: relative;
  width: 40%;
}

.famousSlide img {
  object-fit: cover;
  width: 100%;
  height: 50vh;
}

.famousSlide p {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 2px;
  background-color: dimgray;
  color: white;
}

.ibs-fading {
  animation: fading 7s infinite;
}
@keyframes fading {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.shirts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 0px auto;
}
.shirts a {
  width: 48%;
}
.shirts img {
  width: 100%;
  border-radius: 10px;
  box-shadow: -1px 5px 20px rgba(0, 0, 0, 0.2);
}
